<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kerwin.ssm.business.management.dao.EmailMapper" >
  <resultMap id="BaseResultMap" type="com.kerwin.ssm.business.management.model.Email" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="e_name" property="eName" jdbcType="VARCHAR" />
    <result column="emailAddress" property="emailAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, e_name, emailAddress, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from email
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from email
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kerwin.ssm.business.management.model.Email" >
    insert into email (id, e_name, emailAddress, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{eName,jdbcType=VARCHAR}, #{emailAddress,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kerwin.ssm.business.management.model.Email" >
    insert into email
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eName != null" >
        e_name,
      </if>
      <if test="emailAddress != null" >
        emailAddress,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="eName != null" >
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="emailAddress != null" >
        #{emailAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kerwin.ssm.business.management.model.Email" >
    update email
    <set >
      <if test="eName != null" >
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="emailAddress != null" >
        emailAddress = #{emailAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kerwin.ssm.business.management.model.Email" >
    update email
    set e_name = #{eName,jdbcType=VARCHAR},
      emailAddress = #{emailAddress,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getList" resultType="com.kerwin.ssm.business.management.model.Email">
    select
    e.id ,
    e.e_name eName,
    e.emailAddress,
    e.status
    from email e
  </select>
</mapper>